.btn-options {
    color           : #007bff;
    background-color: transparent;
    background-image: none;
    border-color    : #007bff;
}

.btn-options.active {
    color           : #fff;
    background-color: #007bff;
    border-color    : #007bff;
}